<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Grocery List </title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="box" id="heading">
    <h1> <%=kindOfDay%>'s grocery list!</h1>
  </div>



  <div class="box">

    <form class="item" action="/" method="post">
      <input  type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus="on">
      <button type="submit" name="button">+</button>
    </form>

    <% for (var i=0; i<userNewItems.length; i++) { %>
    <div class="item">
      <input type="checkbox">
      <p> <%= userNewItems[i] %></p>
    </div>

    <% } %>




  </div>


</body>

</html>
